.right-menu {
    position: absolute;
    top: 1px;
    right: 0;
}

.right-menu li {
    list-style-type: none;
}
.right-menu ul {
    margin-left: 0;
    padding-left: 0;
}

.filter-button {
    height: 26px;
    line-height: 28px;
    margin-left: 10px;
    font-size: 13px;
}

.right-menu-content {
    margin-top: 15px;
}

.toogle-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -52px;
    margin-right: 76px;
    cursor: pointer;
    user-select: none;
}
